<div [class]="containerClasses.join(' ')">

    <div [class]="headerClasses.join(' ')">
        <div class="ds-tabs-nav" #tabsNav role="tablist">
            @for (tab of tabs; track trackByTab($index, tab)) {
            <button type="button" [class]="getTabButtonClasses(tab).join(' ')" [disabled]="tab.disabled"
                [attr.data-tab-id]="tab.id" [attr.aria-selected]="isTabActive(tab.id)"
                [attr.aria-controls]="'tab-content-' + tab.id" [attr.id]="'tab-' + tab.id"
                [attr.tabindex]="isTabActive(tab.id) ? 0 : -1" role="tab" (click)="selectTab(tab.id)"
                (keydown)="onKeyDown($event, tab.id)">

                @if (tab.icon) {
                <i [class]="tab.icon + ' ds-tab-icon'" [attr.aria-hidden]="true">
                </i>
                }


                <span class="ds-tab-label">{{ tab.label }}</span>


                @if (tab.badge !== undefined && tab.badge !== null && tab.badge !== '') {
                <span class="ds-tab-badge" [attr.aria-label]="'Badge: ' + formatBadge(tab.badge)">
                    {{ formatBadge(tab.badge) }}
                </span>
                }
            </button>
            }
        </div>


        <div class="ds-tab-indicator" [style.transform]="indicatorTransform" [attr.aria-hidden]="true">
        </div>
    </div>


    <div [class]="contentClasses.join(' ')" [attr.id]="'tab-content-' + activeTabId"
        [attr.aria-labelledby]="'tab-' + activeTabId" role="tabpanel">
        <ng-content></ng-content>
    </div>
</div>