<!-- CREDIT OPERATION -->
<section class="credit-operation d-grid columns-1">
    <h2 class="title-semibold mb-12">
        Operação de Crédito Solicitada
    </h2>
    <div class="credit-operation__data d-grid columns-2 gap-24">
        <div class="credit-operation__info d-flex flex-column gap-8">
            <div class="credit-operation__block">
                <p class="body">Operação</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Valor solicitado</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Prazo</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Garantia</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Status</p>
            </div>
        </div>
        <div class="credit-operation__values d-flex flex-column gap-8">
            <div class="credit-operation__block">
                <p class="body">{{ operationLabel }}</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">{{ valueLabel }}</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">{{ termLabel }}</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">{{ guarantee }}</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">{{ statusLabel }}</p>
            </div>
        </div>
    </div>
</section>