<!-- CREDIT OPERATION -->
<section class="credit-operation d-grid columns-1">
    <h2 class="title-semibold mb-12">
        Operação de Crédito Solicitada
    </h2>
    <div class="credit-operation__data d-grid columns-2 gap-24">
        <div class="credit-operation__info d-flex flex-column gap-8">
            <div class="credit-operation__block">
                <p class="body">Crédito com cobertura FGI</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Prazo pretendido</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Cobertura FGI</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Taxa Estimada</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">Carência</p>
            </div>
        </div>
        <div class="credit-operation__values d-flex flex-column gap-8">
            <div class="credit-operation__block">
                <p class="body">R$ 800.000,00</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">36 meses</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">80% (R$ 400.000,00)</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">1,1% a.m.</p>
            </div>
            <div class="credit-operation__block">
                <p class="body">3 meses</p>
            </div>
        </div>
    </div>
</section>