@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/typography' as *;
@use '../../../../styles/themes/default' as *;

.dashboard {
    background: var(--background);
    padding: $padding-md;

    &__header {
        margin-bottom: $padding-md;
        text-align: center;
    }

    &__title {
        font-family: $font-primary;
        font-size: $font-xxxl;
        font-weight: $font-weight-bold;
        color: var(--primary-dark);
        margin: 0 0 $padding-xs 0;
    }

    &__subtitle {
        font-family: $font-primary;
        font-size: $font-md;
        font-weight: $font-weight-md;
        color: var(--gray-dark);
        margin: 0;
        line-height: 1.3;
    }

    &__content {
        height: calc(100vh - 24px);
        overflow: hidden;
    }

    &__new-solicitation {
        text-align: center;
    }

    &__filters {
        margin: $padding-md 0;

        .filters-title {
            font-size: $font-xmd;
            font-weight: $font-weight-bold;
            color: var(--primary-dark);
            margin-bottom: $padding-ssm;
        }

        .filters-grid {
            display: flex;
            align-items: flex-end;
            gap: $padding-md;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: $padding-sm;
            }
        }
    }
}

.welcome-msg {
    padding: 24px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 24px;

    i {
        font-size: $size-xxxxxxxxxl;
    }

    p,
    h2 {
        text-align: center;
    }

    .bold {
        font-weight: $font-weight-bold;
    }
}

@media (max-width: 800px) {
    .container {
        .welcome-msg {
            padding: 0 14vw;
        }
    }
}