@use '../../../../../../styles/abstracts/variables' as *;
@use '../../../../../../styles/abstracts/typography' as *;
@use '../../../../../../styles/themes/default' as *;

.documents-modal {
    display: flex;
    flex-direction: column;
    padding: $padding-sm;
    height: 100%;

    &__content {
        margin-bottom: 24px;
    }

    &__actions {
        display: flex;
        gap: $padding-sm;
        justify-content: flex-end;
    }
}

// Responsive design
@media (max-width: 768px) {
    .documents-modal {
        &__actions {
            flex-direction: column;
        }
    }
}