<div class="documents-modal">
    <header class="documents-modal__header">
        <h1>Solicitação: {{solicitationData?.id}}</h1>
        <p>XPTO</p>
    </header>

    <div class="documents-modal__content">
        <ds-documents [config]="documentsConfig" (documentsChange)="onDocumentsChange($event)"
            (documentUploaded)="onDocumentUploaded($event)" (documentRemoved)="onDocumentRemoved($event)"
            (formValid)="onFormValid($event)">
        </ds-documents>
    </div>

    <div class="documents-modal__actions">
        <ds-button label="Cancelar" variant="outline" (onClickEmitter)="handleClose()" />
        <ds-button label="Upload Documents" variant="fill" (onClickEmitter)="handleSubmit()" [disabled]="isLoading" />
    </div>
</div>