.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

hr {
    color: var(--gray-dark);
}

.outline-btn {
    margin-top: 24px;
}

.input-box {
    margin: 24px 0;
}

.forgot-password {
    font-size: 14px;
    color: var(--primary-dark);
    text-decoration: underline;
    text-align: end;
    cursor: pointer;
}

.header {
    .logo-brand {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    p {
        margin-top: 24px;
        color: var(--gray-medium);
    }
}