<table class="ds-table">

    <ng-content *ngIf="!loadingData"></ng-content>

    <tbody *ngIf="totalPages === 0">
        <tr class="empty-state">
            <td colspan="100%">
                {{ emptyMessage }}
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="loadingData" class="w-100 p-48">
    <div class="text-center">
        <ds-spinner size="48px" variant="outline"></ds-spinner>
    </div>
</div>

<div *ngIf="showPagination && totalPages && totalPages > 1" class="pagination">
    <ds-button label="Anterior" icon="fa-solid fa-arrow-left" [disabled]="currentPage === 1"
        (onClickEmitter)="previousPage()" variant="ghost" />

    <p class="body primary">Página {{ currentPage }} de {{ totalPages }}</p>

    <ds-button label="Próxima" icon="fa-solid fa-arrow-right" [disabled]="currentPage === totalPages"
        (onClickEmitter)="nextPage()" variant="ghost" />

</div>
