<div [class]="stepperClasses">
    <div class="stepper-wrapper">
        @for (step of steps; track step.id; let i = $index) {
        <div [class]="stepClasses" [class.active]="isStepActive(step, i)" [class.completed]="isStepCompleted(step, i)"
            [class.disabled]="step.disabled" [class.error]="step.error" [class.accessible]="isStepAccessible(step, i)"
            [attr.data-status]="getStepStatus(step, i)" (click)="selectStep(step, i)">

            <div class="step-marker">

                @if (variant === 'numbers') {
                <span class="step-number">
                    @if (step.icon && isStepCompleted(step, i)) {
                    <i [class]="step.icon"></i>
                    }
                    @if (step.error) {
                    <i class="fa-solid fa-exclamation"></i>
                    }
                    @if (!step.icon || !isStepCompleted(step, i)) {
                    <span>{{ i + 1 }}</span>
                    }
                </span>
                }


                @if (variant === 'dots') {
                <span class="step-dot">
                    @if (step.icon && isStepCompleted(step, i)) {
                    <i [class]="step.icon"></i>
                    }
                    @if (step.error) {
                    <i class="fa-solid fa-exclamation"></i>
                    }
                </span>
                }


                @if (variant === 'default') {
                <span class="step-circle">
                    @if (step.icon && isStepCompleted(step, i)) {
                    <i [class]="step.icon"></i>
                    }
                    @if (step.error) {
                    <i class="fa-solid fa-exclamation"></i>
                    }
                    @if (!step.icon || !isStepCompleted(step, i)) {
                    <span class="step-number">{{ i + 1 }}</span>
                    }
                </span>
                }
            </div>


            <div class="step-content">
                <h4 class="step-title">{{ step.title }}</h4>
            </div>


            @if (showConnector && i < steps.length - 1) { <div class="step-connector"
                [class.completed]="isStepCompleted(step, i)">
        </div>
        }
    </div>
    }
</div>
</div>
