<main class="forgot-password">
    <section class="forgot-password__container">
        <ds-card size="md" maxWidth="450" [clickable]="false">
            <header class="forgot-password__header">
                <div class="forgot-password__logo-brand">
                    <img height="150" src="assets/logo/vetor-logo-1067x600.jpg" alt="Logo Vetor 360" loading="lazy"
                        decoding="async" />
                    <h2 class="forgot-password__title">Esqueceu a senha?</h2>
                </div>
                <p class="forgot-password__description">
                    Sem problema! Digite o seu e-mail e enviaremos um link para recuperá-la.
                </p>
            </header>

            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password__form" novalidate>
                <div class="forgot-password__input-box d-flex flex-column gap-16">
                    <ds-input label="E-mail" placeholder="Digite seu e-mail" [fullWidth]="true" formControlName="email"
                        [invalid]="!!(email?.invalid && email?.touched)" [errorMessage]="email?.invalid && email?.touched ?
                            (email?.errors?.['required'] ? 'E-mail é obrigatório' :
                             email?.errors?.['email'] ? 'E-mail inválido' : '') : ''">
                    </ds-input>
                </div>
                <div class="forgot-password__button-box d-flex flex-column gap-24">
                    <ds-button label="Enviar link de recuperação" type="submit" (onClickEmitter)="onSubmit()"
                        [fullWidth]="true" [rounded]="true" [isLoading]="isLoading" [disabled]="isLoading">
                    </ds-button>

                    <ds-button class="forgot-password__ghost-btn" label="Voltar para o Login" type="button"
                        (onClickEmitter)="goToLogin()" [fullWidth]="true" variant="ghost" [rounded]="true"
                        [disabled]="isLoading">
                    </ds-button>
                </div>
            </form>

            <div *ngIf="errorMessage" class="forgot-password__error" role="alert">
                {{ errorMessage }}
            </div>

            <div *ngIf="successMessage" class="forgot-password__success" role="status">
                {{ successMessage }}
            </div>
        </ds-card>
    </section>
</main>
