@use '../../../../styles/abstracts/variables' as *;

.forgot-password {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $padding-sm;
    box-sizing: border-box;


    &__header {
        .forgot-password__logo-brand {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .forgot-password__description {
            margin-top: 24px;
            color: var(--gray-medium);
        }
    }

    &__title {
        color: var(--primary-medium);
    }

    &__input-box {
        margin: 24px 0;
    }


    &__error {
        margin-top: $padding-ssm;
        padding: $padding-s $padding-ssm;
        background: var(--error-light);
        color: var(--error);
        border: 1px solid var(--error);
        border-radius: $border-radius-sm;
        font-size: $font-sm;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    &__success {
        margin-top: $padding-ssm;
        padding: $padding-s $padding-ssm;
        background: var(--success-light);
        color: var(--success);
        border: 1px solid var(--success);
        border-radius: $border-radius-sm;
        font-size: $font-sm;
        font-weight: $font-weight-bold;
        text-align: center;
    }
}