<div class="container">
    <ds-card size="md" maxWidth="450" [clickable]="false">

        <div class="header">
            <div class="logo-brand">
                <img height="150" src="assets/vetor-logo.png" alt="">
                <h2>Esqueceu a senha?</h2>
            </div>

            <p>Sem problema! Digite o seu e-mail e enviaremos um link para recuperá-la.</p>
        </div>

        <div class="input-box d-flex flex-column gap-16">
            <ds-input label="E-mail" placeholder="Digite seu e-mail" [fullWidth]="true"> </ds-input>
        </div>

        <ds-button label="Enviar link de recuperação" (onClickEmitter)="confirm()" [fullWidth]="true" [rounded]="true" />
        <ds-button class="ghost-btn" label="Voltar para o Login" (onClickEmitter)="goToLogin()" [fullWidth]="true"
            variant="ghost" [rounded]="true" />
    </ds-card>
</div>