@use '../../../../../styles/abstracts/variables' as *;

.icon-hover-pointer {
    :hover {
        background: var(--background-hover);
        border-radius: $border-radius-max;
    }

    i {
        padding: $padding-xsm;
    }
}