$font-primary: "Work Sans", sans-serif;

$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-xmd: 18px;
$font-lg: 20px;
$font-xl: 24px; 
$font-xxl: 28px;
$font-xxxl: 32px;
$font-xxxxl: 48px;
$font-xxxxxxxxl: 22px;

$font-weight-lt: 300;
$font-weight-md: 400;
$font-weight-bold: 500;
$font-weight-xbold: 600;
$font-weight-black: 700;