// === CORES DO SISTEMA ===
$primary-dark: #013047;
$primary-medium: #015078;
$secondary: #0B495C;
$secondary-medium: #1593BB;
$background: #F8F8F8;
$stroke: #D8D8D8;
$label: #618495;
$placeholder: #61646B;
$tertiary: #F9792A;

// === GRADIENTES ===
$primary-gradient: linear-gradient(180deg, #013048 0%, #01517A 100%);
$secondary-gradient: linear-gradient(270deg, #1593BB 0%, #0B495C 100%);

// === BORDAS E RAIOS ===
$border-radius-sm: 8px;
$border-radius-md: 12px;
$border-radius-bg: 16px;
$border-radius-xb: 24px;
$border-radius-xxb: 20px;
$border-radius-lg: 32px;
$border-radius-max: 99px;
$border-radius-xs: 2px;
$border-radius-xxs: 3px;
$border-radius-xxsm: 4px;
$border-radius-sm: 8px;

// === ESPAÇAMENTOS ===
$padding-xsm: 4px;
$padding-xs: 8px;
$padding-s: 12px;
$padding-ssm: 16px;
$padding-sm: 20px;
$padding-md: 24px;
$padding-bg: 32px;
$padding-xbg: 48px;
$padding-xxs: 2px;
$padding-xxsm: 11px;
$padding-xxsmm: 39px;
$padding-xxsmmm: 40px;
$padding-xxsmmmm: 49px;
$padding-xxsmmmmm: 60px;

// === TAMANHOS ADICIONAIS ===
$size-xs: 2px;
$size-sm: 4px;
$size-md: 6px;
$size-lg: 8px;
$size-xl: 10px;
$size-xxl: 12px;
$size-xxxl: 14px;
$size-xxxxl: 15px;
$size-xxxxxl: 18px;
$size-xxxxxxl: 20px;
$size-xxxxxxxl: 22px;
$size-xxxxxxxxl: 25px;
$size-xxxxxxxxxl: 30px;
$size-xxxxxxxxxxl: 40px;
$size-xxxxxxxxxxxl: 50px;
$size-xxxxxxxxxxxxl: 60px;
$size-xxxxxxxxxxxxxl: 80px;
$size-xxxxxxxxxxxxxxl: 100px;
$size-xxxxxxxxxxxxxxxl: 120px;
$size-xxxxxxxxxxxxxxxxl: 140px;
$size-xxxxxxxxxxxxxxxxxl: 150px;
$size-xxxxxxxxxxxxxxxxxxl: 160px;
$size-xxxxxxxxxxxxxxxxxxxl: 200px;
$size-xxxxxxxxxxxxxxxxxxxxl: 280px;
$size-xxxxxxxxxxxxxxxxxxxxxl: 300px;
$size-xxxxxxxxxxxxxxxxxxxxxxl: 320px;
$size-xxxxxxxxxxxxxxxxxxxxxxxl: 350px;
$size-xxxxxxxxxxxxxxxxxxxxxxxxl: 400px;
$size-xxxxxxxxxxxxxxxxxxxxxxxxxl: 500px;
$size-xxxxxxxxxxxxxxxxxxxxxxxxxxl: 800px;
$size-xxxxxxxxxxxxxxxxxxxxxxxxxxxl: 1140px;
$size-xxxxxxxxxxxxxxxxxxxxxxxxxxxxl: 1200px;