<!-- RISK INDICATORS -->
<section class="risk-indicators d-grid columns-1">
    <h2 class="title-semibold mb-12">
        Indicadores de risco
    </h2>
    <div class="risk-indicators__data d-grid columns-2 gap-24">
        <div class="risk-indicators__labels d-flex flex-column gap-8">
            <div class="risk-indicators__block">
                <p class="body">Pontuação de Crédito (Serasa/Sci)</p>
            </div>
            <div class="risk-indicators__block">
                <p class="body">Risco de Crédito</p>
            </div>
            <div class="risk-indicators__block">
                <p class="body">Histórico de Inadimplência</p>
            </div>
            <div class="risk-indicators__block">
                <p class="body">Relacionamento Bancário:</p>
            </div>
        </div>
        <div class="risk-indicators__values d-flex flex-column gap-8">
            <div class="risk-indicators__block">
                <p class="body">830/1000</p>
            </div>
            <div class="risk-indicators__block">
                <p class="body">Baixo</p>
            </div>
            <div class="risk-indicators__block">
                <p class="body">Nenhum registro nos últimos 5 anos</p>
            </div>
            <div class="risk-indicators__block">
                <p class="body">Cliente há 7 anos, sem atrasos relevantes</p>
            </div>
        </div>
    </div>
</section>