<div class="documents-step">
    <div class="documents-step__header">
        <h3 class="documents-step__title">Documentos</h3>
        <p class="documents-step__description">Anexe os documentos necessários para sua solicitação</p>
    </div>

    <form [formGroup]="documentsForm" class="documents-step__form">
        <div class="documents-step__content">

            <!-- Placeholder para futuras implementações -->
            <div class="documents-step__placeholder">
                <div class="documents-step__placeholder-icon">
                    <i class="fa-solid fa-file-upload"></i>
                </div>
                <h4 class="documents-step__placeholder-title">Upload de Documentos</h4>
                <p class="documents-step__placeholder-description">
                    Esta seção será implementada em breve. Aqui você poderá anexar os documentos necessários para sua
                    solicitação.
                </p>
            </div>

        </div>
    </form>
</div>