<div class="form-group" [ngStyle]="{
    'width': fullWidth ? '100%': width
}" [id]="uniqueId + '-container'">


    @if (label) {
    <label [for]="uniqueId" [class]="labelClasses">
        {{ label }}
    </label>
    }


    <div class="select-container" [class.has-icon]="icon">


        @if (icon) {
        <ds-icon [icon]="icon" fontSize="18px" color="placeholder" [class]="'icon-' + iconPosition">
        </ds-icon>
        }


        <div [id]="uniqueId" [class]="selectClasses" [attr.tabindex]="disabled ? -1 : 0" (click)="toggleDropdown()"
            (keydown.enter)="toggleDropdown()" (keydown.space)="toggleDropdown()" (keydown.escape)="closeDropdown()"
            (blur)="onTouched()">


            <div class="select-value">


                @if (multiple && hasValue) {
                <div class="selected-chips">
                    @for (option of selectedOptions; track option) {
                    <span class="chip">
                        {{ option[optionLabel] }}
                        <button type="button" class="chip-remove" (click)="removeOption(option, $event)"
                            [disabled]="disabled">
                            ×
                        </button>
                    </span>
                    }
                </div>
                }


                @if (!multiple || !hasValue) {
                <span class="select-display-text" [class.placeholder]="!hasValue">
                    {{ displayValue }}
                </span>
                }
            </div>


            <div class="select-actions">

                @if (clearable && hasValue && !disabled) {
                <button type="button" class="clear-button" (click)="clearSelection($event)" tabindex="-1">
                    ×
                </button>
                }


                <ds-icon icon="fa-solid fa-chevron-down" fontSize="12px" color="placeholder" class="dropdown-arrow"
                    [class.rotated]="isOpen">
                </ds-icon>
            </div>
        </div>


        @if (isOpen) {
        <div [class]="dropdownClasses">


            @if (searchable) {
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar..." [(ngModel)]="searchTerm"
                    (input)="onSearchChange($event)" (click)="$event.stopPropagation()">
                <ds-icon icon="fa-solid fa-search" fontSize="14px" color="placeholder" class="search-icon">
                </ds-icon>
            </div>
            }


            <div class="options-container">


                @if (loading) {
                <div class="option-item loading">
                    <ds-icon icon="fa-solid fa-spinner" fontSize="16px" color="placeholder" class="spinning">
                    </ds-icon>
                    {{ loadingText }}
                </div>
                }


                @if (!loading && filteredOptions.length === 0) {
                <div class="option-item no-options">
                    {{ noOptionsText }}
                </div>
                }


                @for (option of filteredOptions; track option) {
                <div class="option-item" [class.selected]="isOptionSelected(option)" [class.disabled]="option.disabled"
                    (click)="selectOption(option)">


                    @if (multiple) {
                    <input type="checkbox" class="option-checkbox" [checked]="isOptionSelected(option)"
                        [disabled]="option.disabled" tabindex="-1">
                    }


                    <span class="option-label">
                        {{ option[optionLabel] }}
                    </span>


                    @if (!multiple && isOptionSelected(option)) {
                    <ds-icon icon="fa-solid fa-check" fontSize="14px" color="primary-medium" class="selected-icon">
                    </ds-icon>
                    }
                </div>
                }
            </div>
        </div>
        }
    </div>


    @if (showError || showHelper) {
    <div class="form-feedback">

        @if (showError) {
        <div class="error-message">
            {{ errorMessage }}
        </div>
        }


        @if (showHelper) {
        <div class="helper-text">
            {{ helperText }}
        </div>
        }
    </div>
    }
</div>
