<div class="form-group" [ngStyle]="{
    'width': fullWidth ? '100%': width
}" [id]="uniqueId + '-container'">


    <label *ngIf="label" [for]="uniqueId" [class]="labelClasses">
        {{ label }}
    </label>


    <div class="select-container" [class.has-icon]="icon">


        <ds-icon *ngIf="icon" [icon]="icon" fontSize="18px" color="placeholder" [class]="'icon-' + iconPosition">
        </ds-icon>


        <div [id]="uniqueId" [class]="selectClasses" [attr.tabindex]="disabled ? -1 : 0" (click)="toggleDropdown()"
            (keydown.enter)="toggleDropdown()" (keydown.space)="toggleDropdown()" (keydown.escape)="closeDropdown()"
            (blur)="onTouched()">


            <div class="select-value">


                <div *ngIf="multiple && hasValue" class="selected-chips">
                    <span *ngFor="let option of selectedOptions" class="chip">
                        {{ option[optionLabel] }}
                        <button type="button" class="chip-remove" (click)="removeOption(option, $event)"
                            [disabled]="disabled">
                            ×
                        </button>
                    </span>
                </div>


                <span *ngIf="!multiple || !hasValue" class="select-display-text" [class.placeholder]="!hasValue">
                    {{ displayValue }}
                </span>
            </div>


            <div class="select-actions">

                <button *ngIf="clearable && hasValue && !disabled" type="button" class="clear-button"
                    (click)="clearSelection($event)" tabindex="-1">
                    ×
                </button>


                <ds-icon icon="fa-solid fa-chevron-down" fontSize="12px" color="placeholder" class="dropdown-arrow"
                    [class.rotated]="isOpen">
                </ds-icon>
            </div>
        </div>


        <div *ngIf="isOpen" [class]="dropdownClasses">


            <div *ngIf="searchable" class="search-container">
                <input type="text" class="search-input" placeholder="Buscar..." [(ngModel)]="searchTerm"
                    (input)="onSearchChange($event)" (click)="$event.stopPropagation()">
                <ds-icon icon="fa-solid fa-search" fontSize="14px" color="placeholder" class="search-icon">
                </ds-icon>
            </div>


            <div class="options-container">


                <div *ngIf="loading" class="option-item loading">
                    <ds-icon icon="fa-solid fa-spinner" fontSize="16px" color="placeholder" class="spinning">
                    </ds-icon>
                    {{ loadingText }}
                </div>


                <div *ngIf="!loading && filteredOptions.length === 0" class="option-item no-options">
                    {{ noOptionsText }}
                </div>


                <div *ngFor="let option of filteredOptions" class="option-item"
                    [class.selected]="isOptionSelected(option)" [class.disabled]="option.disabled"
                    (click)="selectOption(option)">


                    <input *ngIf="multiple" type="checkbox" class="option-checkbox" [checked]="isOptionSelected(option)"
                        [disabled]="option.disabled" tabindex="-1">


                    <span class="option-label">
                        {{ option[optionLabel] }}
                    </span>


                    <ds-icon *ngIf="!multiple && isOptionSelected(option)" icon="fa-solid fa-check" fontSize="14px"
                        color="primary-medium" class="selected-icon">
                    </ds-icon>
                </div>
            </div>
        </div>
    </div>


    <div class="form-feedback" *ngIf="showError || showHelper">

        <div *ngIf="showError" class="error-message">
            {{ errorMessage }}
        </div>


        <div *ngIf="showHelper" class="helper-text">
            {{ helperText }}
        </div>
    </div>
</div>
