<div class="form-group" [ngStyle]="{
    'width': fullWidth ? '100%' : width
}">

    <label *ngIf="label" [for]="uniqueId" [class]="labelClasses">
        {{ label }}
    </label>


    <div class="input-container" [class.has-icon]="icon">

        <ds-icon *ngIf="icon" [icon]="icon" fontSize="24px" color="placeholder" [class]="'icon-' + iconPosition">
        </ds-icon>


        <input [id]="uniqueId" [class]="inputClasses" [type]="type" [placeholder]="placeholder" [required]="required"
            [disabled]="disabled" [readonly]="readonly" [attr.maxlength]="maxlength" [attr.minlength]="minlength"
            [attr.step]="type === 'number' ? '0.01' : null" [attr.min]="type === 'number' ? '0' : null"
            [autocomplete]="autocomplete" [value]="safeValue" (input)="onInputChange($event.target)"
            (focus)="onInputFocus()" (blur)="onInputBlur()" />
    </div>


    <div *ngIf="showError" class="error-message">
        {{ errorMessage }}
    </div>


    <div *ngIf="showHelper" class="helper-text">
        {{ helperText }}
    </div>
</div>