<!-- FOLLOW-UP -->
<section class="follow-up d-grid columns-1 gap-24 mt-24">
    <div class="follow-up__content d-flex flex-column gap-12">
        <h2 class="title-semibold">
            Follow-up
            <button type="button" class="body follow-up__link" (click)="onOpenVisualization()">
                Abrir visualização
            </button>
        </h2>
        <div class="follow-up__stats body d-flex align-items-center gap-24">
            <p class="body">
                <ds-icon icon="fa-regular fa-comment-dots" fontSize="16px" color="primary" />
                2 mensagens
            </p>
            <p class="body">
                <ds-icon icon="fa-regular fa-folder" fontSize="16px" color="primary" />
                6/7 documentos
            </p>
        </div>
    </div>
</section>