.follow-up {

    &__link {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        text-decoration: underline;

        &:hover {
            opacity: 0.8;
        }
    }

    &__visualization {
        width: 100%;
        margin-top: 24px;
    }
}