<!-- FOLLOW-UP -->
<section class="follow-up d-grid columns-1 gap-24 mt-24">
    <div class="follow-up__content d-flex flex-column gap-12">
        <h2 class="title-semibold">
            Follow-up
        </h2>
        <div class="follow-up__stats body d-flex align-items-center gap-24">
            <p class="body">
                <ds-icon icon="fa-regular fa-comment-dots" fontSize="16px" color="primary" />
                2 mensagens
            </p>
            <p class="body">
                <ds-icon icon="fa-regular fa-folder" fontSize="16px" color="primary" />
                {{ uploadedDocumentsCount }}/{{ totalDocumentsCount }} documentos
            </p>
        </div>
    </div>

    <div class="follow-up__visualization d-grid columns-2 gap-24">
        <app-messages [messages]="messages" [showHeader]="false" (messageSent)="onMessageSent($event)"
            (minimized)="onMinimized($event)">
        </app-messages>

        <ds-documents [config]="documentsConfig" (documentsChange)="onDocumentsChange($event)"
            (documentUploaded)="onDocumentUploaded($event)" (documentRemoved)="onDocumentRemoved($event)"
            (formValid)="onFormValid($event)">
        </ds-documents>
    </div>
</section>