.dark-mode {
    --primary-dark: #015078;
    --primary-medium: #1593BB;
    --primary-gradient: linear-gradient(180deg, #015078 0%, #1593BB 100%);
    --secondary: #0B495C;
    --secondary-medium: #1593BB;
    --secondary-gradient: linear-gradient(270deg, #1593BB 0%, #0B495C 100%);
    --background: #1a1a1a;
    --stroke: #3a3a3a;
    --label: #8AB4C7;
    --placeholder: #8A8A8A;
    --tertiary: #F9792A;
}