:root {
    --background: #F2F2F7;
    --stroke: #AFB1B6;
    --label: #AFB1B6;
    --placeholder: #858890;
    --disabled: rgb(182, 179, 179);
    --shadow-box: 3px 4px 4px 0px #00000040;

    --white: #FFFFFF;

    --primary-dark: #043B68;
    --primary-medium: #025495;
    --primary-light: #0567B5;
    --primary-extra-light: ##84b0d4;
    --secondary: #736804;
    --secondary-medium: #B2A305;
    --secondary-light: #cbc04d;
    --gray-dark: #404040;
    --gray-medium: #61646B;
    --tertiary: #F9792A;

    --primary-dark-hover-dark: #15acacc2;
    --primary-dark-hover-light: #F7F5FF;

    --primary-gradient: linear-gradient(180deg, #1877C9 0%, #0C3B63 100%);
    --secondary-gradient: linear-gradient(90deg, rgba(21, 172, 164, 0.7) 0%, #15ACAB 44.5%, #F9FFFF 100%);
}