:root {
    --background: #F2F2F7;
    --stroke:#AFB1B6;
    --label: #6B7280;
    --placeholder: #61646B;
    --disabled: rgb(182, 179, 179);
    --shadow-box: 3px 4px 4px 0px #00000040;

    --white: #FFFFFF;
    --secondary-white: #F9FFFF;

    --primary-dark: #000;
    --primary-medium: #015078;
    --secondary: #3A00E5;
    --secondary-medium: #1593BB;
    --tertiary: #F9792A;

    --secondary-hover-dark: #0C3B63;
    --secondary-hover-light: #0c3a6320;

    --primary-dark-hover-dark: #15acacc2;
    --primary-dark-hover-light: #1d9e9e2a;

    --primary-gradient: linear-gradient(180deg, #1877C9 0%, #0C3B63 100%);
    --secondary-gradient: linear-gradient(90deg, rgba(21, 172, 164, 0.7) 0%, #15ACAB 44.5%, #F9FFFF 100%);
}