<!-- FINANCIAL SUMMARY -->
<section class="financial-summary d-grid columns-1">
    <h2 class="title-semibold mb-12">
        Resumo financeiro
    </h2>
    <div class="financial-summary__data d-grid columns-2 gap-24">
        <div class="financial-summary__labels d-flex flex-column gap-8">
            <div class="financial-summary__block">
                <p class="body">Atividade</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Localização</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Valor solicitado</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Documentos concluídos</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Data de inclusão</p>
            </div>
        </div>
        <div class="financial-summary__values d-flex flex-column gap-8">
            <div class="financial-summary__block">
                <p class="body">{{ activity }}</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">{{ location }}</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">{{ valueLabel }}</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">{{ documentsSummary }}</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">{{ createdAt }}</p>
            </div>
        </div>
    </div>
</section>