<!-- FINANCIAL SUMMARY -->
<section class="financial-summary d-grid columns-1">
    <h2 class="title-semibold mb-12">
        Resumo financeiro
    </h2>
    <div class="financial-summary__data d-grid columns-2 gap-24">
        <div class="financial-summary__labels d-flex flex-column gap-8">
            <div class="financial-summary__block">
                <p class="body">Faturamento anual</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Fluxo de caixa mensal</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Saldo médio em conta</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">Índice de comprometimento</p>
            </div>
        </div>
        <div class="financial-summary__values d-flex flex-column gap-8">
            <div class="financial-summary__block">
                <p class="body">R$5.000.000,00</p>
            </div>
            <div class="financial-summary__block">
                <p class="body font-weight-regular">Entrada R$ 430.000,00</p>
                <p class="body font-weight-regular">Saída R$ 378.000,00</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">R$ 150.000,00</p>
            </div>
            <div class="financial-summary__block">
                <p class="body">18%</p>
            </div>
        </div>
    </div>
</section>