@if(shouldShowModal){
<div class="modal-backdrop" (click)="onBackdropClick($event)">

    <div [class]="getModalClasses()" [@fade]="animationState" (@fade.done)="onAnimationDone($event)"
        (click)="onModalContentClick($event)">

        <div class="modal-content">

            @if(modalConfig?.showHeader){
            <div class="modal-header">

                @if(modalConfig?.title){
                <h4 class="modal-title">
                    {{ modalConfig?.title }}
                </h4>
                }
                @if(modalConfig?.showCloseButton){
                <ds-icon (click)="closeModal()" cursorType="pointer" aria-label="Fechar modal"
                    icon="fa-regular fa-circle-xmark" fontSize="20px" color="primary-dark">
                </ds-icon>
                }
            </div>

            }
            @if(modalConfig?.subtitle){
            <div class="modal-subtitle">
                <p>{{ modalConfig?.subtitle }}</p>
            </div>
            }

            @if(isVisible && animationState === 'in'){
            <div class="modal-body">
                <ng-content></ng-content>
            </div>
            }
        </div>
    </div>
</div>
}