<!-- SOLICITATION DATA -->
<section class="solicitation-data d-grid columns-2 gap-24">
    <div class="solicitation-data__info d-flex flex-column gap-12">
        <h2 class="title-semibold">
            Solicitação
        </h2>
        <p class="body">
            XPTO
        </p>
    </div>
    <div class="solicitation-data__info d-flex flex-column gap-12 align-items-end">
        <div class="solicitation-data__status">
            <span class="title-semibold">
                {{ getStatusLabel() }}
            </span>
        </div>
    </div>
</section>