<div class="form-group" [ngStyle]="{
    'width': fullWidth ? '100%': width
}">

    <label *ngIf="label" [for]="uniqueId" [class]="labelClasses">
        {{ label }}
    </label>


    <div class="textarea-container" [class.has-icon]="icon">

        <ds-icon *ngIf="icon" [icon]="icon" fontSize="24px" color="placeholder" [class]="'icon-' + iconPosition">
        </ds-icon>


        <textarea [id]="uniqueId" [class]="textareaClasses" [placeholder]="placeholder" [value]="value"
            [required]="required" [disabled]="disabled" [readonly]="readonly" maxlength="maxlength"
            minlength="minlength" [rows]="rows" [cols]="cols" [autocomplete]="autocomplete"
            (input)="onTextareaInput($event)" (change)="onTextareaChange($event)" (focus)="onTextareaFocus()"
            (blur)="onTextareaBlur()">{{ value }}</textarea>
    </div>

    <div class="d-flex align-items-center justify-content-between">

        <div *ngIf="showCharacterCount" class="character-count">
            {{ characterCount }}{{ maxlength ? '/' + maxlength : '' }}
        </div>


        <div *ngIf="showError" class="error-message">
            {{ errorMessage }}
        </div>
    </div>


    <div *ngIf="showHelper" class="helper-text">
        {{ helperText }}
    </div>
</div>
