<div [class]="accordionClasses">
    @for (item of items; track item.id; let i = $index) {
    <div [class]="itemClasses" [class.expanded]="isItemExpanded(item)" [class.disabled]="isItemDisabled(item)"
        [attr.data-id]="item.id">
        <!-- Header do item -->
        <ds-button class="accordion-header" [class.expanded]="isItemExpanded(item)"
            [class.disabled]="isItemDisabled(item)" [label]="item.title" type="button" variant="fill"
            [disabled]="isItemDisabled(item)" (onClickEmitter)="toggleItem(item)"
            [attr.aria-expanded]="isItemExpanded(item)" [attr.aria-disabled]="isItemDisabled(item)"
            [icon]="iconPosition === 'left' ? 'fa-solid fa-chevron-right' : iconPosition === 'right' ? 'fa-solid fa-chevron-down' : ''"
            [iconPosition]="iconPosition" labelAlign="left" [rotateIcon]="isItemExpanded(item)" [fullWidth]="true">
        </ds-button>

        <!-- Conteúdo do item -->
        <div class="accordion-content" [class.expanded]="isItemExpanded(item)"
            [attr.aria-hidden]="!isItemExpanded(item)" role="region" [attr.aria-labelledby]="item.id">
            <div class="accordion-content-inner">
                <div class="accordion-content-text" [innerHTML]="item.content"></div>
            </div>
        </div>
    </div>
    }
</div>