@use '../../../../../../../styles/abstracts/variables' as *;

.risk-classification {

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-md 0;
    }

    &__gauge {
        width: 100%;
        max-width: 300px;
    }

    &__svg {
        width: 100%;
        height: auto;
    }

    &__needle {
        transform-origin: 100px 100px;
        transition: transform 0.5s ease-out;
    }
}