<div [class]="radioClasses">
    @for (option of options; track option.value) {
    <div [class]="optionClasses" [class.ds-radio__option--selected]="isOptionSelected(option)"
        [class.ds-radio__option--disabled]="disabled || option.disabled" (click)="onOptionChange(option)">

        <div class="ds-radio__input-container">
            <input type="radio" [id]="uniqueId + '-' + option.value" [name]="name || uniqueId" [value]="option.value"
                [checked]="isOptionSelected(option)" [disabled]="disabled || option.disabled"
                (change)="onOptionChange(option)" class="ds-radio__input">

            <div class="ds-radio__indicator">
                <div class="ds-radio__indicator-inner"></div>
            </div>
        </div>

        <label [for]="uniqueId + '-' + option.value" class="ds-radio__label">
            {{ option.label }}
        </label>
    </div>
    }
</div>