<div class="ds-documents">
    @if (config.showAccordion) {
    <div class="ds-documents__accordion">
        <ds-accordion [items]="accordionItems" variant="default" size="md"
            [allowMultiple]="config.allowMultiple || true" iconPosition="right"
            (itemToggled)="onAccordionItemToggled($event)">

            <ng-template accordionItem="documents-section" class="accordion-content-inner">
                @if (config.documents.length > 0) {
                @for (document of config.documents; track document.id) {
                <div class="d-flex gap-8 justify-content-between align-items-center"
                    [style.margin-top]="$index > 0 ? '12px' : '0'">
                    <div class="ds-documents__label">
                        {{ document.label }}
                    </div>
                    <div class="d-flex gap-8 align-items-center">

                        @if (document.isValidating) {
                        <span>
                            <i class="fa-solid fa-spinner fa-spin"></i>
                        </span>
                        } @else {
                        <button type="button" class="ds-documents__upload-btn" [class.uploaded]="document.uploaded"
                            [class.validating]="document.isValidating">
                            <span>
                                <i [class]="document.uploaded ? 'fa-solid fa-check' : 'fa-solid fa-upload'"></i>
                                <span>{{ getFileName(document.id) }}</span>
                            </span>
                            <input type="file" [accept]="document.acceptedFormats"
                                (change)="onFileSelected($event, document.id)" [disabled]="document.isValidating" />
                        </button>
                        }
                        @if (document.uploaded) {
                            @if (document.isRemoving) {
                            <span>
                                <i class="fa-solid fa-spinner fa-spin"></i>
                            </span>
                            } @else {
                            <ds-icon icon="fa-solid fa-trash" fontSize="14px" color="primary-dark" cursorType="pointer"
                                (click)="removeDocument(document.id)" />
                            }
                        }
                    </div>
                </div>
                }
                } @else {
                <p class="ds-documents__empty">Nenhum documento disponível no momento.</p>
                }
            </ng-template>
        </ds-accordion>
    </div>
    } @else {
    @for (document of config.documents; track document.id) {
    <div class="d-flex gap-8 justify-content-between align-items-center" [style.margin-top]="$index > 0 ? '12px' : '0'">
        <div class="ds-documents__label">
            {{ document.label }}
        </div>
        <div class="d-flex gap-8 align-items-center">
            <button type="button" class="ds-documents__upload-btn" [class.uploaded]="document.uploaded"
                [class.validating]="document.isValidating">
                @if (document.isValidating) {
                <span class="ds-documents__spinner">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    <span>Validando...</span>
                </span>
                } @else {
                <span>
                    <i [class]="document.uploaded ? 'fa-solid fa-check' : 'fa-solid fa-upload'"></i>
                    <span>{{ getFileName(document.id) }}</span>
                </span>
                <input type="file" [accept]="document.acceptedFormats" (change)="onFileSelected($event, document.id)"
                    [disabled]="document.isValidating" />
                }
            </button>
            @if (document.uploaded) {
                @if (document.isRemoving) {
                <span class="ds-documents__spinner">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    <span>Removendo...</span>
                </span>
                } @else {
                <ds-icon icon="fa-solid fa-trash" fontSize="14px" color="primary-dark" cursorType="pointer"
                    (click)="removeDocument(document.id)" />
                }
            }
        </div>
    </div>
    }
    }
</div>