<div class="step-content">
    <div class="form-fields">
        <ds-input label="Senha" [fullWidth]="true" [formControl]="$any(passwordForm.get('password'))" type="password"
            placeholder="Digite sua senha" [required]="true" [invalid]="isFieldInvalid('password')"
            [errorMessage]="getFieldErrorMessage('password')">
        </ds-input>

        <ds-input label="Confirme sua senha" [fullWidth]="true"
            [formControl]="$any(passwordForm.get('confirmPassword'))" type="password" placeholder="Confirme sua senha"
            [required]="true" [invalid]="isFieldInvalid('confirmPassword')"
            [errorMessage]="getFieldErrorMessage('confirmPassword')">
        </ds-input>
    </div>
</div>