    @use '../../../../../styles/abstracts/variables' as *;
    @use '../../../../../styles/abstracts/spacing' as *;
    @use '../../../../../styles/abstracts/typography' as *;
    @use '../../../../../styles/base/typography' as *;

    .solicitation-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        &__container {
            width: 100%;
            height: 100%;
            padding: $padding-md;
        }

        &__content {
            width: 100%;
            height: 100%;
        }

        &__status {
            background-color: hsla(47, 100%, 50%, 0.2);
            padding: $padding-s;
            width: fit-content;
            border-radius: $border-radius-md;
            border: 1px solid #FFC800;
        }
    }