@use '../../../../../../../styles/abstracts/variables' as *;

.conclusion {

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 6px;

        li {
            position: relative;
            padding-left: 0;
        }
    }
}