<!-- CONCLUSION -->
<section class="conclusion d-grid columns-1">
    <h2 class="title-semibold mb-12">
        Conclusão
    </h2>
    <div class="conclusion__content d-flex flex-column gap-16">
        <!-- Pontos Fortes -->
        <div class="conclusion__section">
            <h3 class="input-label font-weight-regular mb-8">Pontos fortes</h3>
            <ul class="conclusion__list">
                <li class="body">Faturamento recorrente e crescente</li>
                <li class="body">Documentação regular e completa</li>
                <li class="body">Score de crédito elevado</li>
                <li class="body">Setor em expansão (tecnologia SaaS)</li>
            </ul>
        </div>

        <!-- Pontos de Atenção -->
        <div class="conclusion__section">
            <h3 class="input-label font-weight-regular mb-8">Pontos de atenção</h3>
            <ul class="conclusion__list">
                <li class="body">Endividamento em capital de giro (18% do faturamento).</li>
                <li class="body">Dependência alta de 3 grandes clientes (70% da receita)</li>
            </ul>
        </div>

        <!-- Recomendação Preliminar -->
        <div class="conclusion__section">
            <h3 class="input-label font-weight-regular mb-8">Recomendação preliminar</h3>
            <p class="body">Cliente em Potencial (Baixo risco de crédito)</p>
        </div>
    </div>
</section>