<!-- CLIENT DATA -->
<section class="client-data d-grid columns-2 gap-48 mt-24">
    <div class="client-data__info d-grid columns-1">
        <h2 class="title-semibold mb-12">
            Cliente
        </h2>
        <div class="client-data__data d-flex justify-content-between mb-8">
            <div class="client-data__details d-flex flex-column gap-12">
                <div class="client-data__block">
                    <p class="body mb-6">{{cardData?.client}}</p>
                    <p class="input-label font-weight-regular">{{cardData?.cnpj}}</p>
                </div>
            </div>
            <div class="client-data__details d-flex flex-column">
                <div class="client-data__block">
                    <p class="body mb-6">Aberta em {{cardData?.dueDate | date:'dd/MM/yyyy'}}</p>
                    <p class="body">Tecnologia</p>
                </div>
            </div>
        </div>
        <address class="client-data__address">
            <p class="body">Alameda Afonso Schmidt, 119 - Sala 78 - Santa Terezinha, São Paulo - SP,
                02450-000</p>
        </address>
    </div>

    <div class="client-data__rating-wrapper d-flex gap-12">
        <div class="client-data__rating-text d-flex flex-column gap-12">
            <h2 class="title-semibold">
                Rating
            </h2>
            <p class="input-label font-weight-regular">
                Cliente com alguns pontos de atenção, mas ainda com capacidade de pagamento adequada
            </p>
        </div>
        <div class="client-data__rating">
            B
        </div>
    </div>

</section>