<!-- CLIENT DATA -->
<section class="client-data d-grid columns-1">
    <div class="client-data__info d-grid columns-1">
        <h2 class="title-semibold mb-12">
            Cliente
        </h2>
        <div class="client-data__data d-flex justify-content-between mb-8">
            <div class="client-data__details d-flex flex-column gap-12">
                <div class="client-data__block">
                    <p class="body mb-6">{{ cardData?.client || 'Cliente não informado' }}</p>
                    <p class="input-label font-weight-regular">{{ opportunity?.id || '-' }}</p>
                </div>
            </div>
            <div class="client-data__details d-flex flex-column">
                <div class="client-data__block">
                    <p class="body mb-6">Aberta em {{ createdAt }}</p>
                    <p class="body">{{ activity }}</p>
                </div>
            </div>
        </div>
        <address class="client-data__address">
            <p class="body">{{ location }}</p>
        </address>
    </div>
</section>