<div class="basic-info-step">
  <form [formGroup]="basicInfoForm" class="basic-info-step__form">
    <div class="basic-info-step__content">
      <div class="d-grid columns-2 gap-16">
        <ds-input label="Nome do Cliente" placeholder="Digite o nome do cliente" type="text"
          formControlName="customerName" [required]="true"
          [invalid]="!!(customerName?.invalid && customerName?.touched)"
          [errorMessage]="getFieldErrorMessage('customerName')" [fullWidth]="true">
        </ds-input>

        <ds-input label="CNPJ" placeholder="Digite o CNPJ do cliente" type="text" formControlName="cnpj"
          [required]="true" [invalid]="!!(cnpj?.invalid && cnpj?.touched)" [errorMessage]="getFieldErrorMessage('cnpj')"
          libMask="00.000.000/0000-00" [fullWidth]="true" />
      </div>

      <div class="basic-info-step__field">
        <ds-textarea label="Finalidade" placeholder="Conte um pouco sobre o objetivo dos recursos..."
          formControlName="purpose" [required]="true" [invalid]="!!(purpose?.invalid && purpose?.touched)"
          [errorMessage]="getFieldErrorMessage('purpose')" [fullWidth]="true" [maxlength]="500" resize="vertical">
        </ds-textarea>
      </div>

      <div class="d-flex justify-content-center">
        <ds-button label="Identificar melhor operação" variant="fill" [rounded]="true" icon="fa-solid fa-circle-plus"
          (onClickEmitter)="identifyOperation()" [isLoading]="isLoadingAnalysis" [disabled]="isLoadingAnalysis">
        </ds-button>
      </div>

      @if (iaAnalysis) {
      <div class="basic-info-step__analysis">
        <p>{{ iaAnalysis }}</p>
      </div>
      } @if (showRestOfForm) {

      <div class="basic-info-step__row">
        <div class="d-grid columns-2 gap-16">
          <ds-select label="Tipo de Operação" placeholder="Selecione o tipo de operação" formControlName="operationType"
            [required]="true" [invalid]="!!(operationType?.invalid && operationType?.touched)"
            [errorMessage]="getFieldErrorMessage('operationType')" [options]="operationTypeOptions" [fullWidth]="true">
          </ds-select>

          <div class="d-grid columns-2 gap-16">
            <ds-input label="Valor" placeholder="R$ 0,00" type="text" formControlName="amount" [required]="true"
              [libMask]="basicInfoForm.get('currency')?.value || 'BRL'"
              [invalid]="!!(amount?.invalid && amount?.touched)" [errorMessage]="getFieldErrorMessage('amount')"
              [fullWidth]="true">
            </ds-input>

            <ds-select label="Moeda" placeholder="Selecione a moeda" formControlName="currency" [required]="true"
              [invalid]="!!(currency?.invalid && currency?.touched)" [errorMessage]="getFieldErrorMessage('currency')"
              [options]="currencyOptions" [fullWidth]="true">
            </ds-select>
          </div>
        </div>
      </div>

      <div class="basic-info-step__row d-grid columns-3 gap-16">
        <ds-input label="País" placeholder="Brasil" type="text" formControlName="country" [required]="true"
          [readonly]="true" [fullWidth]="true">
        </ds-input>

        <ds-input label="Estado" placeholder="SP" type="text" formControlName="state" [required]="true"
          [readonly]="true" [fullWidth]="true">
        </ds-input>

        <ds-input label="Cidade" placeholder="São Paulo" type="text" formControlName="city" [required]="true"
          [readonly]="true" [fullWidth]="true">
        </ds-input>
      </div>

      <div class="d-grid columns-2 gap-16">
        <ds-select label="Ramo de Atividade" placeholder="Selecione o ramo de atividade"
          formControlName="businessActivity" [required]="true"
          [invalid]="!!(businessActivity?.invalid && businessActivity?.touched)"
          [errorMessage]="getFieldErrorMessage('businessActivity')" [options]="businessActivityOptions"
          [fullWidth]="true">
        </ds-select>

        <ds-input label="Prazo" placeholder="Em meses" type="number" formControlName="term" [required]="true"
          [invalid]="!!(term?.invalid && term?.touched)" [errorMessage]="getFieldErrorMessage('term')"
          [fullWidth]="true">
        </ds-input>
      </div>
      }
    </div>
  </form>
</div>