<div class="basic-info-step">
    <form [formGroup]="basicInfoForm" class="basic-info-step__form">
        <div class="basic-info-step__content">


            <div class="basic-info-step__field">
                <ds-textarea label="Finalidade" placeholder="Conte um pouco sobre o objetivo dos recursos..."
                    formControlName="purpose" [required]="true" [invalid]="!!(purpose?.invalid && purpose?.touched)"
                    [errorMessage]="purpose?.invalid && purpose?.touched ?
              (purpose?.errors?.['required'] ? 'Finalidade é obrigatória' :
               purpose?.errors?.['maxlength'] ? 'Máximo de 500 caracteres' : '') : ''" [fullWidth]="true"
                    [maxlength]="500" resize="vertical">
                </ds-textarea>
            </div>

            <div class="d-flex justify-content-center">
                <ds-button label="Identificar melhor operação" variant="fill" [rounded]="true"
                    icon="fa-solid fa-circle-plus" (onClickEmitter)="identifyOperation()">
                </ds-button>
            </div>

            @if (showRestOfForm) {

            <div class="basic-info-step__row">
                <div class="basic-info-step__col basic-info-step__col--operation-type">
                    <ds-select label="Tipo de Operação" placeholder="Selecione o tipo de operação"
                        formControlName="operationType" [required]="true"
                        [invalid]="!!(operationType?.invalid && operationType?.touched)"
                        [errorMessage]="operationType?.invalid && operationType?.touched ? 'Tipo de operação é obrigatório' : ''"
                        [options]="operationTypeOptions" [fullWidth]="true">
                    </ds-select>
                </div>

                <div class="basic-info-step__col basic-info-step__col--value-currency">
                    <ds-input label="Valor" placeholder="R$ 0,00" type="text" formControlName="amount" [required]="true"
                        [libMask]="basicInfoForm.get('currency')?.value || 'BRL'"
                        [invalid]="!!(amount?.invalid && amount?.touched)" [errorMessage]="amount?.invalid && amount?.touched ?
                (amount?.errors?.['required'] ? 'Valor é obrigatório' :
                 amount?.errors?.['min'] ? 'Valor mínimo de R$ 1.000,00' : '') : ''" [fullWidth]="true">
                    </ds-input>

                    <ds-select label="Moeda" placeholder="Selecione a moeda" formControlName="currency"
                        [required]="true" [invalid]="!!(currency?.invalid && currency?.touched)"
                        [errorMessage]="currency?.invalid && currency?.touched ? 'Moeda é obrigatória' : ''"
                        [options]="currencyOptions" [fullWidth]="true">
                    </ds-select>
                </div>
            </div>


            <div class="basic-info-step__field">
                <ds-select label="Ramo de Atividade" placeholder="Selecione o ramo de atividade"
                    formControlName="businessActivity" [required]="true"
                    [invalid]="!!(businessActivity?.invalid && businessActivity?.touched)"
                    [errorMessage]="businessActivity?.invalid && businessActivity?.touched ? 'Ramo de atividade é obrigatório' : ''"
                    [options]="businessActivityOptions" [fullWidth]="true">
                </ds-select>
            </div>


            <div class="basic-info-step__row basic-info-step__row--location">
                <div class="basic-info-step__col basic-info-step__col--country">
                    <ds-select label="País" placeholder="Selecione o país" formControlName="country" [required]="true"
                        [invalid]="!!(country?.invalid && country?.touched)"
                        [errorMessage]="country?.invalid && country?.touched ? 'País é obrigatório' : ''"
                        [options]="countryOptions" [fullWidth]="true">
                    </ds-select>
                </div>

                <div class="basic-info-step__col basic-info-step__col--state">
                    <ds-select label="Estado" placeholder="Selecione o estado" formControlName="state" [required]="true"
                        [invalid]="!!(state?.invalid && state?.touched)"
                        [errorMessage]="state?.invalid && state?.touched ? 'Estado é obrigatório' : ''"
                        [options]="stateOptions" [fullWidth]="true">
                    </ds-select>
                </div>

                <div class="basic-info-step__col basic-info-step__col--city">
                    <ds-select label="Cidade" placeholder="Selecione a cidade" formControlName="city" [required]="true"
                        [invalid]="!!(city?.invalid && city?.touched)"
                        [errorMessage]="city?.invalid && city?.touched ? 'Cidade é obrigatória' : ''"
                        [options]="cityOptions" [fullWidth]="true">
                    </ds-select>
                </div>
            </div>


            <div class="basic-info-step__row">
                <div class="basic-info-step__col basic-info-step__col--term">
                    <ds-input label="Prazo" placeholder="Em meses" type="number" formControlName="term"
                        [required]="true" [invalid]="!!(term?.invalid && term?.touched)" [errorMessage]="term?.invalid && term?.touched ?
                (term?.errors?.['required'] ? 'Prazo é obrigatório' :
                 term?.errors?.['min'] ? 'Prazo mínimo de 1 mês' : '') : ''" [fullWidth]="true">
                    </ds-input>
                </div>

                <div class="basic-info-step__col basic-info-step__col--payment-method">
                    <ds-select label="Forma de Pagamento" placeholder="Selecione a forma de pagamento"
                        formControlName="paymentMethod" [required]="true"
                        [invalid]="!!(paymentMethod?.invalid && paymentMethod?.touched)"
                        [errorMessage]="paymentMethod?.invalid && paymentMethod?.touched ? 'Forma de pagamento é obrigatória' : ''"
                        [options]="paymentMethodOptions" [fullWidth]="true">
                    </ds-select>
                </div>
            </div>


            <div class="basic-info-step__field">
                <ds-input label="Carência" placeholder="Em meses" type="number" formControlName="gracePeriod"
                    [required]="true" [invalid]="!!(gracePeriod?.invalid && gracePeriod?.touched)" [errorMessage]="gracePeriod?.invalid && gracePeriod?.touched ?
              (gracePeriod?.errors?.['required'] ? 'Carência é obrigatória' :
               gracePeriod?.errors?.['min'] ? 'Carência mínima de 0 meses' : '') : ''" [fullWidth]="true">
                </ds-input>
            </div>
            }

        </div>
    </form>
</div>
