<div class="documents-step">
    <div class="documents-step__header">
        <h3 class="documents-step__title">Documentos</h3>
        <p class="documents-step__description">Confira os documentos necessários para sua solicitação</p>
    </div>

    <form [formGroup]="documentsForm" class="documents-step__form">
        <div class="documents-step__content">

            <!-- Accordion com informações sobre documentos -->
            <div class="documents-step__accordion">
                <ds-accordion [items]="accordionItems" variant="default" size="md" [allowMultiple]="true"
                    iconPosition="right" (itemToggled)="onAccordionItemToggled($event)">

                    <!-- Conteúdo do primeiro item -->
                    <ng-template accordionItem="doc-required">

                    </ng-template>

                </ds-accordion>
            </div>

        </div>
    </form>
</div>