<div class="file-upload-container" [ngStyle]="{
    'width': fullWidth ? '100%' : width
}">

    <label *ngIf="label" [class]="labelClasses">
        {{ label }}
    </label>


    <div class="upload-area" [class.disabled]="disabled" [class.drag-over]="isDragOver"
        [class.processing]="isProcessing" (click)="triggerFileInput()" (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">


        <input type="file" [id]="inputId" [accept]="acceptedTypes.join(',')" [multiple]="multiple" [disabled]="disabled"
            (change)="onFileSelect($event)" style="display: none;">


        <div class="upload-content">
            <ds-icon *ngIf="!isProcessing" icon="fa-solid fa-cloud-arrow-up" fontSize="48px" color="label">
            </ds-icon>

            <ds-icon *ngIf="isProcessing" icon="fa-solid fa-spinner fa-spin" fontSize="32px" color="secondary">
            </ds-icon>

            <h3 class="upload-title" *ngIf="!isProcessing">{{ placeholder }}</h3>
            <p class="upload-subtitle" *ngIf="isProcessing">Processando arquivos...</p>

            <p class="upload-helper" *ngIf="helperText && !isProcessing">{{ helperText }}</p>
        </div>
    </div>


    <div class="uploaded-files" *ngIf="uploadedFiles.length > 0">
        <div class="files-header">
            <h4>Arquivos carregados ({{ uploadedFiles.length }})</h4>
            <button type="button" class="clear-all-btn" (click)="clearAllFiles()" *ngIf="uploadedFiles.length > 1"
                [disabled]="disabled">
                <ds-icon icon="fa-solid fa-trash" fontSize="14px" color="tertiary"></ds-icon>
                Limpar tudo
            </button>
        </div>

        <div class="files-grid">
            <div class="file-item" *ngFor="let file of uploadedFiles">

                <div class="file-preview">
                    <img [src]="file.previewUrl" [alt]="file.name" class="preview-image">


                    <button type="button" class="remove-btn" (click)="removeFile(file)" [disabled]="disabled"
                        title="Remover arquivo">
                        <ds-icon icon="fa-solid fa-times" fontSize="14px" color="white"></ds-icon>
                    </button>
                </div>


                <div class="file-info">
                    <p class="file-name" [title]="file.name">{{ file.name }}</p>
                    <p class="file-size">{{ formatFileSize(file.size) }}</p>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="helperText && uploadedFiles.length === 0" class="helper-text">
        {{ helperText }}
    </div>
</div>
