@use '../abstracts' as *;

body {
    margin: 0;
    background-color: var(--secondary-white);
    transition: background-color 0.5s ease, color 0.5s ease;
}

button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    transition: color 0.3s ease;
}

header,
footer {
    transition: background-color 0.5s ease;
}